*{
	box-sizing: border-box; /** set the main setting to box sizing **/
}

body{
	margin: 0; /** set margin to zero to centre on screen **/
	height: 100vh; /** set the view height to 100% of height **/
	width: 100vw; /** set the view width to 100% of width **/
	overflow: hidden; /** hide the overflow (stop scrolling) **/
	display: flex; /** make the body chnage to size **/
	align-items: center; /** align items in the body to the centre **/
	justify-content: center; /** align text and inner content to center **/
	color: white; /** set text to white **/
	font-family: 'Sen', sans-serif; /** use the google font if not set to sanf serif **/
	font-weight: 300; /** set the font boldness **/
	background: linear-gradient(90deg, rgba(2,98,82,1) 0%, rgba(0,101,84,1) 71%, rgba(1,113,95,1) 100%);
	
}

.loginWrapper{
	width: 100%; /** set the login main box wrapper to 430px width **/
	height: 100%; /** set the login main box wrapper height to 700px  **/
	padding: 60px 0px 35px 0px; /** place padding around the main login box **/
	border-radius: 10px; /** curved edges on the login box **/
	background: linear-gradient(90deg, rgba(2,98,82,1) 0%, rgba(0,101,84,1) 71%, rgba(1,113,95,1) 100%);

}

.mainWrapper{
	width: 100%; /** set the login main box wrapper to 430px width **/
	height: 100%; /** set the login main box wrapper height to 700px  **/
	padding: 10px 0px 35px 0px; /** place padding around the main login box **/
	border-radius: 10px; /** curved edges on the login box **/
	background: linear-gradient(90deg, rgba(2,98,82,1) 0%, rgba(0,101,84,1) 71%, rgba(1,113,95,1) 100%);

}

.logo {
	background-image: url("logo1.png");
	width: 87px;
	height: 86px;
	border-radius: 50%;
	margin: 0 auto;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.logo1{
	background-image: url("logo1.png");
	width: 87px;
	height: 86px;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	position: relative;
	float: left;
	margin-left: 45px;
}

.title {
	text-align: center;
	font-size: 28px;
	padding-top: 24px;
	letter-spacing: 0.5px;
}

.title1 {
	text-align: center;
	font-size: 28px;
	padding-top: 24px;
	padding-left: 10px;
	letter-spacing: 0.5px;
	position: relative;
	float: left;
}

.searchInputs{
	position: relative;
	margin: 50px 50px 10px 35px;
	padding: 50px;
}

.sub-title {
	text-align:  center;
	font-size: 15px;
	padding-top: 7px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

.field {
	width: 100%;
	padding: 20px 25px 15px 55px;
}

.field input{
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	font-family: 'Sen', sans-serif;
	color: white;
}

#username, #password {
	display: block;
	border-bottom: 1px solid #b3b3b3;

}

.signin-btn {
	margin-left:50px;
	margin-top: 50px;
	outline: none;
	border: none;
	cursor: pointer;
	width: 70%;
	height: 60px;
	border-radius: 5px;
	font-size: 22px;
	font-family: 'Sen' , sans-serif;
	color: white;
	text-align: center;
	letter-spacing: 1px;
	background: #b6053b;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	
}

.search-btn{
	margin-left:90px;
	margin-top: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	width: 50%;
	height: 30px;
	border-radius: 5px;
	font-size: 15px;
	font-family: 'Sen' , sans-serif;
	color: white;
	text-align: center;
	letter-spacing: 1px;
	background: #b6053b;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.logoutBtn {
	margin-left:90px;
	margin-top: 320px;
	margin-right: 15px;
	cursor: pointer;
	height: 20px;
	border-radius: 5px;
	font-size: 15px;
	font-family: 'Sen' , sans-serif;
	color: white;
	background: #b6053b;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	text-decoration: none;
	position: relative;
	float: right;
}


















